.addCart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 40px;
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 600;
}
